.banner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f5f5f5;
    padding:60px;
}

.img-drone{
    width:45%;
    border-radius:15px;
}

.sobre{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.sobre-texto{
    width:40%;
}

.img-fazenda{
    width:50%;
    border-radius:15px;
}