.indentificacao {
    color: rgb(1, 16, 16);
}

.galeria{
    width: 50%;
}

body{
    background-color: rgb(226, 212, 244);
    color: rgb(166, 9, 244);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: blueviolet;
    color: black;
    border-radius: 20px;
}